.empdetails-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
}

.empdetails,
.empaddress {
  width: calc(100%/2);
}

.empaddress {
  padding-left: 20px;
}

.empdetails li {
  border: 1px solid gray;
  border-bottom: 0;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.empdetails li:last-child {
  border: 1px solid gray;
}

.empdetails li span {
  padding: 5px;
  width: calc(100%/3);
  border-right: 1px solid gray;
}

.empdetails li span:last-child {
  border: 0;
}