* {
  margin: 0;
  padding: 0;
  font-family: GothamHTF;
  font-size: 15px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: auto;
}

.product-page>div:not(.wrapper) {
  max-width: 1200px;
  margin: auto;
}

ul,
li {
  list-style: none
}

.product-page {
  max-width: 1440px;
  margin: 0 auto
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  background: transparent;
  z-index: 1;
  font-size: 0;
}

.slick-arrow.slick-prev {
  left: 0;
  border-right: 10px solid blue;
}

.slick-arrow.slick-next {
  right: 0;
  border-left: 10px solid blue;
}

.main-header {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  box-shadow: 0 0 black;
  padding: 25px 30px 15px;
  z-index: 2;
  background: var(--white);
  box-shadow: 0 0 5px 3px hsla(0, 0%, 85%, .5);
}

.main-header a {
  font-family: GothamHTF;
  font-size: 16px;
  text-decoration: none;
}

.main-header img {
  max-height: 50px;
}

.navigation-menu {
  float: right;
}

.navigation-menu a {
  margin-left: 10px;

}