* {
  margin: 0;
  padding: 0;
  font-family: GothamHTF;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none
}

.product-page {
  max-width: 1440px;
  margin: 0 auto
}